.MBACourses{
    text-align: left;
    padding-top: 2rem;
}
.MBACourses .next_video_prev{       
    position: relative;
    border-radius: 50%;
    color: white;
    opacity: 1;
    outline: none;
    padding-bottom: 10px;
    padding-top: 10px;
    top: -170px;
    left: 88%;
    padding-right: 25px;
    padding-left: 20px;
    background: #2c4654;
    border: 2px solid #fff;
}
.fa.fa-angle-right {
    font-weight: 900;
    font-size: 24px;
}
.fa.fa-angle-left {
    font-weight: 900;
    font-size: 24px;
}
.next_video_right{    
    position: relative;
    border-radius: 50%;
    color: white;
    opacity: 1;
    font-size: 25px;
    outline: none;
    padding-bottom: 5px;
    padding-top: 5px;
    top: 42%;
    padding-right: 20px;
    padding-left: 20px;
    background: #2c4654;
    border: 2px solid #fff;
}
.MBACard{
    width: 30%;
    padding: 1.5rem 0rem 1.5rem 3rem;
    position: relative;
    z-index: 2;
    background: white;
}
.MBACourseCardInside{
    width: 80%;
    height: 300px;
    background: #1d3139;
    border-radius: 10px;
    padding-left: 18px;
}
.rupees{
    background: #1989CD;
    width: 95.72px;
    height: 80px;
    padding-left: 25px;
    padding-top: 12px;
    position: absolute;
    right: 67px;
    top: 24px;
    border-radius: 0px 10px;
}
.rupeePic{
    width: 50px;
}
.ticker {
    width: 20px;position: absolute;
    top: 47px;
    right: 13px;
}
.mbaheading{    
    padding-top: 10px;
    font-family: Avenir;
    line-height: 33px;
    font-size: 32px;
    color: #FFFFFF;
    text-align: left !important;
    font-weight: 800;
}

.MBACourses .trending_off {
    font-size: 1.2rem;
    padding-top: 2.5rem;
    color: white;
}
.MBACourses .trending_off span{
    font-size: 1.5rem;
    font-weight: 600;
}
.MBACourses .trending_special {
    font-size: 0.9rem;
}
.MBACourses .trending_expire {
    font-size: 0.9rem;
    text-align: right;
    padding-top: 2.5rem;
}
.trendingcourse{     
    font-family: Avenir;
    line-height: 22px;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: left !important;
    font-weight: 300 !important;
    padding-top: 7px;
}
.trending_line{
    margin-top: 15px;
    margin-bottom: 0px;
    border: 0;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: 0px;
    border-top: 2px solid #eee;
    width: 20%;
    text-align: left !important;
    margin-right: 80%;
}
.tresnding_off{   
     margin-top: 100px;
    text-align: left !important;
    font-family: Avenir;
    line-height: normal;
    font-size: 22px;
    color: #FFFFFF;
    font-weight: 300;
}
.trending_special{   
     text-align: left !important;
    font-family: Avenir;
    line-height: normal;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 900;
}
.trending_expire{   
     margin-top: 45px;
    text-align: end !important;
    font-family: Avenir;
    line-height: normal;
    font-size: 12px;
    color: #FFFFFF;
    margin-right: 20px;
    font-weight: 300;
}
#trending_slider{
    margin-left: 25px;
    width: 76%;
}
.trending_course{
    width: 223px;
    height: 270px;
    display: inline-block;
    border-radius: 10px;
}
.trending_course .pic {
    height: 226px;
    width: 100%;
    border-radius: 10px;
}
.course_heading{
    min-height: 34px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    margin-top: 18px;
}
.course_publish{    
    margin-top: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 10px;
    color: #1E313A;
}
.course_author{   
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 9px;
    color: #1E313A;
}
.course_views{   
    margin-top: 8px;
    font-weight: 800;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 10px;
    color: #1E313A;
}
.rating{
    font-size: 10px;
}
.colorBlue{color:#1989CD;}


.MBACourses .course_course_list{
    position: relative;
    padding-top: 2rem;
    overflow: hidden;
    height: 350px;
}
.MBACourses .trending_playlist {
    position: absolute;
    display: flex;
}
.MBACourses .heading_small {
    display: none;
}
.MBACourses .arrow_small {
    display: none;
}

@media only screen and (max-width: 650px) {
    .MBACard{
        margin-left: 20% !important;
    }
        .mba_arrow .next_video_left{
        border-radius: 10px !important;
        background: #2487d3 !important;
        border: none;
        outline: none;
        color: white !important;
        padding: 10px !important;
        font-size: 20px !important;
        float: left;
    }
    .mba_arrow .next_video_right{
        float: right;
        color: white !important;
        border-radius: 10px !important;
        border: none;
        outline: none;
        background: #2487d3 !important;
        padding: 10px !important;
        font-size: 20px !important;
    }
    .small_mba_card{
        padding-top: 10px !important;
        margin-left: 20%;
    }
    .MBACourses .heading_small {
        display: block;
        font-size: 1.3rem;
        padding-top: 0.5rem;
        letter-spacing: 0.03rem;
        text-align: center;
        font-weight: 600;
    }
.MBACourses .arrow_small {
    display: block;
}
.arrow_small {
    height: 2rem;
}
}