.TestimonialReviews {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.TestimonialReviews .TestimonialReviewsCard {
    width: 328px;
    padding: 1.5rem 0rem 1.5rem 3rem;
    position: relative;
    z-index: 2;
    background: white;
}
.TestimonialReviews .TestimonialReviewsInside{
    width: 95%;
    height: 300px;
    background: #1989CD;
    border-radius: 0px 10px 0px 0px;
    padding-left: 18px;
}
.arrow_row{
    height: 3rem;
    position: relative;
    z-index: 3;
    width: 50px;
}
.TestimonialReviews .review_box {
    position: absolute;
    bottom: 0rem;
    height: 225px;
    border-radius: 0px 10px 0px 0px;
    background: white;
    width: 150px;
    padding-top: 1rem;
    left: 3rem;
}
.TestimonialReviews .reviewheading {
    font-size: 1.7rem;
    font-weight: 700;
    padding-top: 3rem;
}
.TestimonialReviews .reviewsubheading {
    font-size: 1.5rem;
    font-weight: 700;
}
.TestimonialReviews .review_play_list{
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
    padding-top: 1.5rem;
    padding-left: 1rem;
    width: 62%;
    height: 350px;
}
.TestimonialReviews .review_playlist{
    position: absolute;
    display: flex;
}
.TestimonialReviews .user_comment {
    text-align: justify !important;
}
.TestimonialReviews .next_video_prev {
    position: relative;
    left: 280px;
    top: -40px;
    background: transparent;
    border: none;
    outline: none;
}
.TestimonialReviews .next_video_prev .fa {
    font-size: 2rem;
}
.TestimonialReviews .next_video_right {
    position: relative;
    top: 282px;
    font-size: 2rem;
    background: transparent;
    border: none;
    outline: none;
}
.TestimonialReviews .arrow_row .review_prev {
    border: none;
    outline: none;
    position: relative;
    top: 290px;
    background: transparent
}
.TestimonialReviews .arrow_row .review_prev .fa{
    font-size: 2rem;
}
.TestimonialReviews .review_playlist{
    transition: transform 750ms cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}
.TestimonialReviews .arrow_small{
    display: none;
}
.TestimonialReviews .heading_small {
    display: none;
}
.TestimonialReviews .next_video_right_test {
    background: transparent;
    border: none;
    outline: none;
    font-size: 2rem;
    position: relative;
    top: 282px;
}
@media only screen and (max-width: 650px) {

    .TestimonialReviews .heading_small {
        display: block;
        font-size: 1rem;
        padding-top: 0.5rem;
        letter-spacing: 0.03rem;
        text-align: center;
        font-weight: 600;
    }
    .TestimonialReviews .review_play_list {
        width: 100%;
    }
    .TestimonialReviews .arrow_small{
        display: block;
        height: 2rem;
    }
    .TestimonialReviews .arrow_small .fa{
        font-size: 2rem;
    }
}