/* Intro Slider Main */
.IntroSlider {
    padding: 2rem 0rem 2rem 0rem;
}
.IntroSlider iframe {
    width: 100%;
    padding-left: 3.5rem;
    height: 240px;
}
.IntroSlider .heading {
    margin-top: 1.5rem;
    font-weight: 700;
    text-align: center;
    font-size: 2.5rem;
}
.IntroSlider .subheading {
    font-weight: 400;
    text-align: center;
    padding-top: 1rem;
    font-size: 1.10rem;
    text-align: center;
    margin-bottom: 0.5rem;
}
.IntroSlider .subsubheading{
    font-size: 1rem;
    text-align: center;
}
.IntroSlider .dots {
    text-align: center;
}
.IntroSlider .dots .dot {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.5rem;
    background-color: #bbb;
    opacity: 0.3;
    border-radius: 50%;
    display: inline-block;
}
.IntroSlider .dots .active_dot {
    background-color: #bbb;
    opacity: 1;
}
.IntroSlider .choose_language {
    padding: 2rem 0rem 1rem 0rem;
}
.IntroSlider .choose {
    font-weight: 700;
    padding-left: 3.5rem;
    line-height: 2.5rem;
    font-size: 1.6rem;
    text-align: center;
    text-align: left;
}
.IntroSlider .language_selector{
    margin-right: 4rem;
    border: none;
    line-height: 2.5rem;
    font-size: 1.3rem;
    outline: none;
    background: transparent;
}
.IntroSlider .language_active{
    color: #fafcfd;
    font-weight: 600;
    line-height: 2.5rem;
    width: 8rem;
    border-radius: 4px;
    background: #1989cd;
    padding-bottom: 0px !important;
    border-bottom: 2px solid #1989cd;
}
.IntroSlider .categories{
    margin-top: 1rem !important;
    padding: 2rem 2rem 2rem 0rem;
    color: white !important;
    background: linear-gradient(90deg, #1E313A 0%, #3E657A 99.04%);
}
.IntroSlider .upcoming_heading h4{
    line-height: 2rem;
    padding-left: 2rem;
    font-weight: 800;
    font-size: 1.3rem;
}
.IntroSlider .category h4 {
    padding-left: 2.5rem;
    padding-right: 1rem;
    line-height: 2rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.1rem;
}
.IntroSlider .homepage_heading {
    padding-left: 0.5rem;
}
@media only screen and (max-width: 650px) {
    .IntroSlider .choose {
        padding-left: 0px;
        text-align: center;
    }
    .IntroSlider .language_selector {
        margin-right: 0rem;
        min-width: 25%;
    }
    .IntroSlider .upcoming_heading {
        text-align: center;
    }
    .IntroSlider .category{
        min-width: 30%;
        margin-left: 1rem;
    }
    .IntroSlider .category h4{
        text-align: left;
    }
    .IntroSlider .categories{
        padding-left: 1rem;
    }
    .IntroSlider .subsubsubheading{
        text-align: center;
    }
}